.editor-logo {
    display: block;
    width: 45%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    background: no-repeat center center;

    &:nth-child(2n+1) {
        margin-right: 10px;
    }

    &.is-wide {
        margin-right:0;
        width: auto;
    }
    &.hide-text {
        text-indent: -99999px;
    }
    &.show-text {
        text-indent: 0px;
    }
}
