@import "../../../reveal.js/css/theme/template/theme";

// fix for fontawesome to work in reveal.js.
// see css/theme/source/_fontawesome.scss for details
// Uncomment it if you plan to use fontawesome.
@import "fontawesome";

// Uncomment the following if you plan to use runnable
// scripts.
//
// A runnable script is just a js code block with runnable class:
//
// ``` javascript
// <pre><code class="javascript runnable">// Type your code here</code></pre>
// ```
// @import "runnable";

@import "editor-list";


#presentation-location {
    float: left;
    display: block;
    &::before {
        content: $location;
    }
}
#presentation-date {
    float: right;
    display: block;
    &::before {
        content: $date;
    }
}

.no-title h1,
.no-title h2,
.no-title h3,
.no-title h4,
.no-title h5,
.no-title h6 {
    display: none;
}

.no-content * {
    display: none;
}

.reveal {
    .text-white {
        h1, h2, h3, h4, h5, h6,
        p, blockquote {
            color: #fff;
        }
    }
}
