@import "../../../reveal.js/css/theme/template/theme";

// fix for fontawesome to work in reveal.js.
// see css/theme/source/_fontawesome.scss for details
// Uncomment it if you plan to use fontawesome.
//@import "fontawesome";

// Uncomment the following if you plan to use runnable
// scripts.
//
// A runnable script is just a js code block with runnable class:
//
// ``` javascript
// <pre><code class="javascript runnable">// Type your code here</code></pre>
// ```
// @import "runnable";


#presentation-location {
    float: left;
    display: block;
    &::before {
        content: $location;
    }
}
#presentation-date {
    float: right;
    display: block;
    &::before {
        content: $date;
    }
}
